@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir-Book.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}
body {
  font-family: 'Avenir', sans-serif;
}